/*
	Strata by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

/* List */

	ul.icons li .icon {
		font-size: 1.25em;
	}
/* Banner */

	.banner {
		padding: 0 0 0 0;
	}
/* Header */

	#header {
		background-attachment: scroll;
		background-position: top left,	center center;
		background-size: auto,		cover;
		left: auto;
		padding: 4em 2em;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
	}

		#header h1 {
			font-size: 1.75em;
		}

			#header h1 br {
				display: inline;
			}
	.header_text {
		padding: 3em 0 0 0;
	}

/* Footer */

	#footer {
		background-attachment: scroll;
/* 		background-color: #1f1815; */
/* 		background-image: url("images/overlay.png"), url("../images/bg.jpg"); */
		background-position: top left,						bottom center;
		background-repeat: repeat,							no-repeat;
		background-size: auto,							cover;
		bottom: auto;
		left: auto;
		padding: 4em 4em 4em 4em;
		position: relative;
		text-align: center;
		width: 100%;
	}

		#footer .icons {
			margin: 0 0 1em 0;
		}

		#footer .copyright {
			margin: 0 0 1em 0;
		}

			#footer .copyright li {
				border-left-width: 1px;
				display: inline-block;
				line-height: 1em;
				margin-left: 0.75em;
				padding-left: 0.75em;
			}

/* Main */

	#main {
		margin: 0;
		padding: 6em 4em;
		width: 100%;
	}